# Merging Data to Understand the Relationship between Drug Legalization and Violent Crime

In recent years, many US states have decided to legalize the use of marijuana. 

When these ideas were first proposed, there were many theories about the relationship between crime and the "War on Drugs" (the term given to US efforts to arrest drug users and dealers over the past several decades). 

In this exercise, we're going to test a few of those theories using drug arrest data from the state of California. 

Though California has passed a number of laws lessening penalities for marijuana possession over the years, arguably the biggest changes were in  2010, when the state changed the penalty for possessing a small amount of marijuana from a criminal crime to a "civil" penality (meaning those found guilty only had to pay a fine, not go to jail), though possessing, selling, or producing larger quantities remained illegal. Then in 2016, the state fully legalized marijuana for recreational use, not only making possession of small amounts legal, but also creating a regulatory system for producing marijuana for sale. 

Proponents of drug legalization have long argued that the war on drugs contributes to violent crime by creating an opportunity for drug dealers and organized crime to sell and distribute drugs, a business which tends to generate violence when gangs battle over territory. According to this theory, with drug legalization, we should see violent crime decrease after legalization in places where drug arrests had previously been common. 

**To be clear,** this is far from the only argument for drug legalization! It is simply the argument we are well positioned to analyze today.


## Gradescope Autograding

Please follow [all standard guidance](https://www.practicaldatascience.org/html/autograder_guidelines.html) for submitting this assignment to the Gradescope autograder, including storing your solutions in a dictionary called `results` and ensuring your notebook runs from the start to completion without any errors.

For this assignment, please name your file `exercise_merging.ipynb` before uploading.

You can check that you have answers for all questions in your `results` dictionary with this code:

```python
assert set(results.keys()) == {
    "ex6_validate_keyword",
    "ex10_merged_successfully",
    "ex16_num_obs",
    "ex17_drug_change",
    "ex18_violent_change",
    "ex21_diffindiff",
    "ex23_diffindiff_proportionate",
}
```


### Submission Limits

Please remember that you are **only allowed three submissions to the autograder.** Your last submission (if you submit 3 or fewer times), or your third submission (if you submit more than 3 times) will determine your grade Submissions that error out will **not** count against this total.

## Pre-Legalization Analysis

### Exercise 1
We will begin by examining [county-level data on arrests from California in 2009](https://github.com/nickeubank/practicaldatascience/tree/master/Example_Data/ca). This data is derived directly from data hosted by the [Office of the California State Attorney General](https://openjustice.doj.ca.gov/data), but please follow the github link above and download and import the file `ca_arrests_2009.csv` (don't try and get it directly from the State Attorney General's office).

In [35]:
import pandas as pd
import numpy as np

pd.set_option("mode.copy_on_write", True)
carrest_df = pd.read_csv(
    "https://github.com/nickeubank/practicaldatascience_class/raw/refs/heads/master/Example_Data/ca/ca_arrests_2009.csv"
)

### Exercise 2
Use your data exploration skills to get a feel for this data. If you need to, you can find the [original codebook here](https://github.com/nickeubank/practicaldatascience/blob/master/Example_Data/ca/arrests_codebook.pdf) (This data is a version of that data, but collapsed to one observation per county.)

In [36]:
carrest_df.describe()

,Unnamed: 0,VIOLENT,PROPERTY,F_DRUGOFF,F_SEXOFF,F_ALLOTHER,F_TOTAL,M_TOTAL,S_TOTAL
count,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000
mean,1710.500000,2133.827586,2187.775862,2046.275862,142.913793,1531.293103,8042.086207,16727.948276,520.517241
std,16.886879,4937.729079,4949.115636,4591.867960,303.184460,3270.993593,17992.225337,34113.762098,1562.044019
min,1682.000000,8.000000,4.000000,2.000000,1.000000,1.000000,16.000000,83.000000,0.000000
25%,1696.250000,194.000000,141.250000,135.500000,14.000000,146.500000,637.250000,1541.500000,10.500000
50%,1710.500000,536.500000,518.500000,532.000000,39.000000,474.000000,2084.500000,6267.000000,73.000000
75%,1724.750000,2204.000000,2338.750000,1860.500000,117.750000,1993.500000,8677.500000,16417.250000,386.000000
max,1739.000000,35319.000000,34630.000000,32193.000000,2041.000000,23524.000000,127707.000000,238608.000000,11049.000000

In [37]:
carrest_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  58 non-null     int64
 1   COUNTY      58 non-null     object
 2   VIOLENT     58 non-null     int64
 3   PROPERTY    58 non-null     int64
 4   F_DRUGOFF   58 non-null     int64
 5   F_SEXOFF    58 non-null     int64
 6   F_ALLOTHER  58 non-null     int64
 7   F_TOTAL     58 non-null     int64
 8   M_TOTAL     58 non-null     int64
 9   S_TOTAL     58 non-null     int64
dtypes: int64(9), object(1)
memory usage: 4.7+ KB

In [39]:
carrest_df.head(5)

,Unnamed: 0,COUNTY,VIOLENT,PROPERTY,F_DRUGOFF,F_SEXOFF,F_ALLOTHER,F_TOTAL,M_TOTAL,S_TOTAL
0,1682,Alameda County,4318,4640,5749,260,3502,18469,37247,431
1,1683,Alpine County,8,4,2,1,1,16,83,0
2,1684,Amador County,100,59,101,5,199,464,801,2
3,1685,Butte County,641,602,542,34,429,2248,9026,1
4,1686,Calaveras County,211,83,123,14,70,501,968,3

In [52]:
carrest_df["Unnamed: 0"].nunique()

58

### Exercise 3
Figuring out what county has the most violent arrests isn't very meaningful if we don't normalize for size. A county with 10 people and 10 arrests for violent crimes is obviously worse than a county with 1,000,000 people an 11 arrests for violent crime. 

To address this, also import `nhgis_county_populations.csv` from [the directory we're working from](https://github.com/nickeubank/practicaldatascience/tree/master/Example_Data/ca).

In [38]:
cpop_df = pd.read_csv(
    "https://github.com/nickeubank/practicaldatascience_class/raw/refs/heads/master/Example_Data/ca/nhgis_county_populations.csv"
)

### Exercise 4
Use your data exploration skills to get used to this data, and figure out how it relates to your 2009 arrest data.

In [ ]:
cpop_df.describe()

        Unnamed: 0  total_population
count  6441.000000      6.441000e+03
mean   1609.750039      9.779149e+04
std     929.750471      3.152470e+05
min       0.000000      7.400000e+01
25%     805.000000      1.119100e+04
50%    1610.000000      2.585000e+04
75%    2415.000000      6.556300e+04
max    3220.000000      1.010572e+07

In [41]:
cpop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6441 entries, 0 to 6440
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        6441 non-null   int64
 1   YEAR              6441 non-null   object
 2   STATE             6441 non-null   object
 3   COUNTY            6441 non-null   object
 4   total_population  6441 non-null   int64
dtypes: int64(2), object(3)
memory usage: 251.7+ KB

In [40]:
cpop_df.sample(10)

,Unnamed: 0,YEAR,STATE,COUNTY,total_population
6352,3131,2013-2017,Wyoming,Natrona County,81023
2904,2904,2005-2009,Virginia,Spotsylvania County,118512
1390,1390,2005-2009,Minnesota,Todd County,23968
4995,1774,2013-2017,New Jersey,Atlantic County,272926
4885,1664,2013-2017,Nebraska,Burt County,6546
60,60,2005-2009,Alabama,Talladega County,80190
5909,2688,2013-2017,Texas,Milam County,24479
1367,1367,2005-2009,Minnesota,Norman County,6629
32,32,2005-2009,Alabama,Hale County,17994
5521,2300,2013-2017,Pennsylvania,Sullivan County,6192

In [53]:
cpop_df["Unnamed: 0"].nunique()

3221

In [62]:
cpop_df["COUNTY"].value_counts()
cpop_df["YEAR"].value_counts()

YEAR
2005-2009    3221
2013-2017    3220
Name: count, dtype: int64

In [66]:
cpop_cali = cpop_df[
    (cpop_df["STATE"] == "California") & (cpop_df["YEAR"] == "2005-2009")
]

In [69]:
cpop_cali.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 186 to 243
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        58 non-null     int64
 1   YEAR              58 non-null     object
 2   STATE             58 non-null     object
 3   COUNTY            58 non-null     object
 4   total_population  58 non-null     int64
dtypes: int64(2), object(3)
memory usage: 2.7+ KB

In [78]:
cpop_cali["COUNTY"] = cpop_cali["COUNTY"].replace("DelNorte County", "Del Norte County")
cpop_cali["COUNTY"] = cpop_cali["COUNTY"].replace("Injo County", "Inyo County")

### Exercise 5

Once you feel like you have a good sense of the relation between our arrest and population data, merge the two datasets.

In [79]:
merged = pd.merge(
    cpop_cali,
    carrest_df,
    left_on="COUNTY",
    right_on="COUNTY",
    how="outer",
    validate="1:1",
    indicator=True,
)

In [80]:
merged

,Unnamed: 0_x,YEAR,STATE,COUNTY,total_population,Unnamed: 0_y,VIOLENT,PROPERTY,F_DRUGOFF,F_SEXOFF,F_ALLOTHER,F_TOTAL,M_TOTAL,S_TOTAL,_merge
0,186,2005-2009,California,Alameda County,1457095,1682,4318,4640,5749,260,3502,18469,37247,431,both
1,187,2005-2009,California,Alpine County,1153,1683,8,4,2,1,1,16,83,0,both
2,188,2005-2009,California,Amador County,38039,1684,100,59,101,5,199,464,801,2,both
3,189,2005-2009,California,Butte County,217917,1685,641,602,542,34,429,2248,9026,1,both
4,190,2005-2009,California,Calaveras County,46548,1686,211,83,123,14,70,501,968,3,both
5,191,2005-2009,California,Colusa County,21001,1687,58,50,28,7,132,275,917,0,both
6,192,2005-2009,California,Contra Costa County,1015571,1688,2976,3532,2895,189,2069,11661,18539,50,both
7,193,2005-2009,California,Del Norte County,28729,1689,144,104,79,13,97,437,1268,5,both
8,194,2005-2009,California,El Dorado County,175941,1690,570,399,403,45,614,2031,4734,54,both
9,195,2005-2009,California,Fresno County,890750,1691,4377,3514,3508,305,3253,14957,31710,377,both
10,196,2005-2009,California,Glenn County,27891,1692,104,78,104,14,133,433,1283,73,both
11,197,2005-2009,California,Humboldt County,129003,1693,503,440,747,54,394,2138,7460,420,both
12,198,2005-2009,California,Imperial County,160034,1694,599,779,730,28,449,2585,6739,69,both
13,199,2005-2009,California,Inyo County,17438,1695,81,44,39,3,38,205,851,1,both
14,200,2005-2009,California,Kern County,780953,1696,4290,4384,3320,202,2975,15171,31828,524,both
15,201,2005-2009,California,Kings County,146696,1697,390,322,278,49,499,1538,5203,415,both
16,202,2005-2009,California,Lake County,64756,1698,349,204,271,17,303,1144,3095,13,both
17,203,2005-2009,California,Lassen County,34428,1699,101,62,35,6,83,287,881,12,both
18,204,2005-2009,California,Los Angeles County,9785295,1700,35319,34630,32193,2041,23524,127707,238608,11049,both
19,205,2005-2009,California,Madera County,144794,1701,453,409,260,35,505,1662,3366,2,both
20,206,2005-2009,California,Marin County,246711,1702,500,532,454,29,276,1791,5795,178,both
21,207,2005-2009,California,Mariposa County,17865,1703,64,40,46,7,43,200,517,21,both
22,208,2005-2009,California,Mendocino County,86030,1704,415,296,551,17,364,1643,3654,10,both
23,209,2005-2009,California,Merced County,242235,1705,1169,1167,1055,78,1006,4475,9637,714,both
24,210,2005-2009,California,Modoc County,9162,1706,47,29,10,5,52,143,310,50,both
25,211,2005-2009,California,Mono County,12925,1707,52,38,38,1,30,159,521,0,both
26,212,2005-2009,California,Monterey County,404922,1708,1385,1311,967,136,911,4710,11948,304,both
27,213,2005-2009,California,Napa County,132173,1709,367,400,325,24,392,1508,3471,60,both
28,214,2005-2009,California,Nevada County,97063,1710,211,207,240,10,108,776,2319,155,both
29,215,2005-2009,California,Orange County,2976831,1711,6145,7853,7524,579,4049,26150,66320,1620,both
30,216,2005-2009,California,Placer County,332059,1712,712,1226,788,51,972,3749,7070,150,both
31,217,2005-2009,California,Plumas County,20550,1713,100,44,104,2,68,318,867,13,both
32,218,2005-2009,California,Riverside County,2036304,1714,5825,7082,5881,479,4832,24099,40087,2235,both
33,219,2005-2009,California,Sacramento County,1375605,1715,5302,5809,4492,409,3854,19866,32332,389,both
34,220,2005-2009,California,San Benito County,54752,1716,209,140,111,20,141,621,1460,27,both
35,221,2005-2009,California,San Bernardino County,1986635,1717,8474,10799,8793,720,4916,33702,56648,1119,both
36,222,2005-2009,California,San Diego County,2987543,1718,9812,8598,7648,579,5321,31958,78405,4107,both
37,223,2005-2009,California,San Francisco County,797271,1719,3629,2792,6867,51,3339,16678,14782,9,both
38,224,2005-2009,California,San Joaquin County,664641,1720,3223,3136,1920,187,2606,11072,23552,49,both
39,225,2005-2009,California,San Luis Obispo County,262149,1721,609,647,522,94,403,2275,9962,67,both
40,226,2005-2009,California,San Mateo County,701886,1722,1446,1527,1487,97,935,5492,13119,520,both
41,227,2005-2009,California,Santa Barbara County,402025,1723,1292,1037,876,77,861,4143,24386,366,both
42,228,2005-2009,California,Santa Clara County,1729378,1724,4309,4737,4325,506,3095,16972,38541,1165,both
43,229,2005-2009,California,Santa Cruz County,251398,1725,753,789,872,43,744,3201,10455,115,both
44,230,2005-2009,California,Shasta County,179387,1726,464,505,434,36,505,1944,7829,422,both
45,231,2005-2009,California,Sierra County,3240,1727,14,10,6,3,9,42,124,0,both
46,232,2005-2009,California,Siskiyou County,44404,1728,189,145,180,9,163,686,1786,8,both
47,233,2005-2009,California,Solano County,406461,1729,1599,1326,1422,81,1027,5455,10682,191,both
48,234,2005-2009,California,Sonoma County,464218,1730,1359,1296,1682,81,954,5372,16767,99,both
49,235,2005-2009,California,Stanislaus County,505165,1731,2211,2595,2209,111,2104,9230,14369,133,both
50,236,2005-2009,California,Sutter County,90731,1732,426,358,173,37,194,1188,2916,184,both
51,237,2005-2009,California,Tehama County,60601,1733,236,272,457,16,189,1170,2871,12,both
52,238,2005-2009,California,Trinity County,13922,1734,65,50,63,10,53,241,527,2,both
53,239,2005-2009,California,Tulare County,416299,1735,2183,2080,1681,170,1767,7881,15368,301,both
54,240,2005-2009,California,Tuolumne County,55761,1736,160,252,209,14,261,896,2062,83,both
55,241,2005-2009,California,Ventura County,792313,1737,2275,2425,2040,120,2083,8943,25762,1734,both
56,242,2005-2009,California,Yolo County,192974,1738,585,634,614,39,662,2534,5426,73,both
57,243,2005-2009,California,Yuba County,70906,1739,354,368,211,39,257,1229,2967,4,both

In [81]:
merged["COUNTY"].value_counts()

COUNTY
Alameda County            1
Santa Cruz County         1
Plumas County             1
Riverside County          1
Sacramento County         1
San Benito County         1
San Bernardino County     1
San Diego County          1
San Francisco County      1
San Joaquin County        1
San Luis Obispo County    1
San Mateo County          1
Santa Barbara County      1
Santa Clara County        1
Shasta County             1
Alpine County             1
Sierra County             1
Siskiyou County           1
Solano County             1
Sonoma County             1
Stanislaus County         1
Sutter County             1
Tehama County             1
Trinity County            1
Tulare County             1
Tuolumne County           1
Ventura County            1
Yolo County               1
Placer County             1
Orange County             1
Nevada County             1
Napa County               1
Amador County             1
Butte County              1
Calaveras County          1
Colusa County             1
Contra Costa County       1
Del Norte County          1
El Dorado County          1
Fresno County             1
Glenn County              1
Humboldt County           1
Imperial County           1
Inyo County               1
Kern County               1
Kings County              1
Lake County               1
Lassen County             1
Los Angeles County        1
Madera County             1
Marin County              1
Mariposa County           1
Mendocino County          1
Merced County             1
Modoc County              1
Mono County               1
Monterey County           1
Yuba County               1
Name: count, dtype: int64

In [82]:
merged

,Unnamed: 0_x,YEAR,STATE,COUNTY,total_population,Unnamed: 0_y,VIOLENT,PROPERTY,F_DRUGOFF,F_SEXOFF,F_ALLOTHER,F_TOTAL,M_TOTAL,S_TOTAL,_merge
0,186,2005-2009,California,Alameda County,1457095,1682,4318,4640,5749,260,3502,18469,37247,431,both
1,187,2005-2009,California,Alpine County,1153,1683,8,4,2,1,1,16,83,0,both
2,188,2005-2009,California,Amador County,38039,1684,100,59,101,5,199,464,801,2,both
3,189,2005-2009,California,Butte County,217917,1685,641,602,542,34,429,2248,9026,1,both
4,190,2005-2009,California,Calaveras County,46548,1686,211,83,123,14,70,501,968,3,both
5,191,2005-2009,California,Colusa County,21001,1687,58,50,28,7,132,275,917,0,both
6,192,2005-2009,California,Contra Costa County,1015571,1688,2976,3532,2895,189,2069,11661,18539,50,both
7,193,2005-2009,California,Del Norte County,28729,1689,144,104,79,13,97,437,1268,5,both
8,194,2005-2009,California,El Dorado County,175941,1690,570,399,403,45,614,2031,4734,54,both
9,195,2005-2009,California,Fresno County,890750,1691,4377,3514,3508,305,3253,14957,31710,377,both
10,196,2005-2009,California,Glenn County,27891,1692,104,78,104,14,133,433,1283,73,both
11,197,2005-2009,California,Humboldt County,129003,1693,503,440,747,54,394,2138,7460,420,both
12,198,2005-2009,California,Imperial County,160034,1694,599,779,730,28,449,2585,6739,69,both
13,199,2005-2009,California,Inyo County,17438,1695,81,44,39,3,38,205,851,1,both
14,200,2005-2009,California,Kern County,780953,1696,4290,4384,3320,202,2975,15171,31828,524,both
15,201,2005-2009,California,Kings County,146696,1697,390,322,278,49,499,1538,5203,415,both
16,202,2005-2009,California,Lake County,64756,1698,349,204,271,17,303,1144,3095,13,both
17,203,2005-2009,California,Lassen County,34428,1699,101,62,35,6,83,287,881,12,both
18,204,2005-2009,California,Los Angeles County,9785295,1700,35319,34630,32193,2041,23524,127707,238608,11049,both
19,205,2005-2009,California,Madera County,144794,1701,453,409,260,35,505,1662,3366,2,both
20,206,2005-2009,California,Marin County,246711,1702,500,532,454,29,276,1791,5795,178,both
21,207,2005-2009,California,Mariposa County,17865,1703,64,40,46,7,43,200,517,21,both
22,208,2005-2009,California,Mendocino County,86030,1704,415,296,551,17,364,1643,3654,10,both
23,209,2005-2009,California,Merced County,242235,1705,1169,1167,1055,78,1006,4475,9637,714,both
24,210,2005-2009,California,Modoc County,9162,1706,47,29,10,5,52,143,310,50,both
25,211,2005-2009,California,Mono County,12925,1707,52,38,38,1,30,159,521,0,both
26,212,2005-2009,California,Monterey County,404922,1708,1385,1311,967,136,911,4710,11948,304,both
27,213,2005-2009,California,Napa County,132173,1709,367,400,325,24,392,1508,3471,60,both
28,214,2005-2009,California,Nevada County,97063,1710,211,207,240,10,108,776,2319,155,both
29,215,2005-2009,California,Orange County,2976831,1711,6145,7853,7524,579,4049,26150,66320,1620,both
30,216,2005-2009,California,Placer County,332059,1712,712,1226,788,51,972,3749,7070,150,both
31,217,2005-2009,California,Plumas County,20550,1713,100,44,104,2,68,318,867,13,both
32,218,2005-2009,California,Riverside County,2036304,1714,5825,7082,5881,479,4832,24099,40087,2235,both
33,219,2005-2009,California,Sacramento County,1375605,1715,5302,5809,4492,409,3854,19866,32332,389,both
34,220,2005-2009,California,San Benito County,54752,1716,209,140,111,20,141,621,1460,27,both
35,221,2005-2009,California,San Bernardino County,1986635,1717,8474,10799,8793,720,4916,33702,56648,1119,both
36,222,2005-2009,California,San Diego County,2987543,1718,9812,8598,7648,579,5321,31958,78405,4107,both
37,223,2005-2009,California,San Francisco County,797271,1719,3629,2792,6867,51,3339,16678,14782,9,both
38,224,2005-2009,California,San Joaquin County,664641,1720,3223,3136,1920,187,2606,11072,23552,49,both
39,225,2005-2009,California,San Luis Obispo County,262149,1721,609,647,522,94,403,2275,9962,67,both
40,226,2005-2009,California,San Mateo County,701886,1722,1446,1527,1487,97,935,5492,13119,520,both
41,227,2005-2009,California,Santa Barbara County,402025,1723,1292,1037,876,77,861,4143,24386,366,both
42,228,2005-2009,California,Santa Clara County,1729378,1724,4309,4737,4325,506,3095,16972,38541,1165,both
43,229,2005-2009,California,Santa Cruz County,251398,1725,753,789,872,43,744,3201,10455,115,both
44,230,2005-2009,California,Shasta County,179387,1726,464,505,434,36,505,1944,7829,422,both
45,231,2005-2009,California,Sierra County,3240,1727,14,10,6,3,9,42,124,0,both
46,232,2005-2009,California,Siskiyou County,44404,1728,189,145,180,9,163,686,1786,8,both
47,233,2005-2009,California,Solano County,406461,1729,1599,1326,1422,81,1027,5455,10682,191,both
48,234,2005-2009,California,Sonoma County,464218,1730,1359,1296,1682,81,954,5372,16767,99,both
49,235,2005-2009,California,Stanislaus County,505165,1731,2211,2595,2209,111,2104,9230,14369,133,both
50,236,2005-2009,California,Sutter County,90731,1732,426,358,173,37,194,1188,2916,184,both
51,237,2005-2009,California,Tehama County,60601,1733,236,272,457,16,189,1170,2871,12,both
52,238,2005-2009,California,Trinity County,13922,1734,65,50,63,10,53,241,527,2,both
53,239,2005-2009,California,Tulare County,416299,1735,2183,2080,1681,170,1767,7881,15368,301,both
54,240,2005-2009,California,Tuolumne County,55761,1736,160,252,209,14,261,896,2062,83,both
55,241,2005-2009,California,Ventura County,792313,1737,2275,2425,2040,120,2083,8943,25762,1734,both
56,242,2005-2009,California,Yolo County,192974,1738,585,634,614,39,662,2534,5426,73,both
57,243,2005-2009,California,Yuba County,70906,1739,354,368,211,39,257,1229,2967,4,both

### Exercise 6

When merging data, the result will only be meaningful if your understanding of how the data sets you are merging relate to one another are correct. In some ways, this is obvious — for example, if the variable(s) that you are using to merge observations in the two datasets or to actually identifying observations that should be linked, then obviously merging using those variables will create a meaningless new dataset.

But other properties that matter are often more subtle. For example, it's important to figure out whether your merge is a `1-to-1` merge (meaning there is only one observation of the variable you're merging on in both datasets), a `1-to-many` merge (meaning there is only one observation of the variable you're merging on in the first dataset, but multiple observations in the second), or a `many-to-many` merge (something you almost never do). 

Being correct in your assumptions about these things is *very* important. If you think there's only one observation per value of your merging variable in each dataset, but there are in fact 2, you'll end up with two observations for each value after the merge. Moreover, not only is the structure of your data now a mess, but the fact you were wrong means you didn't understand something about your data. 

So before running a merge, it is critical to answer the following questions:

a) What variable(s) do you think will be consistent across these two datasets you can use for merging? 

b) Do you think there will be exactly 1 observation for each value of this variable(s) in your arrest data?

c) Do you think there will be exactly 1 observation for each value of this variable(s) in your population data?

So in markdown, answer these three questions for this data.


Then also specify the type of merge you were hoping to accomplish as one of the following strings — `"one-to-one"`, `"one-to-many"`, `"many-to-one"`, or `"many-to-many"` — in your `results` dictionary under the key `"ex6_validate_keyword"`. Assume that the first dataset we are talking about (e.g., the `one` in `one-to-many`, if that were your selection) is your arrests data and the second dataset (e.g., the `many` in `one-to-many`, if that were your selection).

### Answer

- a) The variable that is consistent across datasets is "COUNTY"
- b, c) We checked number of unique values in both datasets. For Arrests dataset we found unique values only. For population dataset, we subsetted for California and found unique values only. While merging the datasets we found two cases in which merge failed due to different spellings of the County, and we adressed this through changing the spelling within the Population dataset. the Merged file now has unique values of County (58)

In [84]:
results = {}

results["ex6_validate_keyword"] = "one-to-one"

## Merge Validation

Because of the importance of answering these questions accurately, `pandas` provides a utility for *validating* these assumptions when you do a merge: the `validate` keyword! Validate will accept `"1:1"`, `"1:m"`, `"m:1"`, and `"m:m"`. It will then check to make sure your merge matches the type of merge you think it is. I *highly* recommend always using this option (...and not just because I'm the one who added `validate` to pandas).

*Note:* `validate` only actually tests if observations are unique when a `1` is specified; if you do a `1:1` merge but pass `validate="1:m"`, `validate="m:1"`, or `validate="m:m"`, you won't get an error — a one-to-many merge that turns out to be a one-to-one isn't nearly as dangerous as a one-to-one merge that turns out to be one-to-many.

### Exercise 7

Repeat the merge you conducted above, but this time use the `validate` to make sure your assumptions about the data were correct. If you find that you made a mistake, revise your data until the merge you think is correct actually takes place.

To aid the autograder, please make sure to comment out any code that generates an error.

### Answer

- We used Validate in the first draft - we had already fixed the data in a way that 1:1 was correct. No further steps were taken at this point.

### Exercise 8

Were your assumptions about the data correct? If not, what had you (implicitly) assumed when you did your merge in Exercise 5 that turned out not to be correct?

### Answer

Our first assumptions was wrong - we initially assumed to merge the entire dataset without subsetting California (human error).
Our secondary assumption was wrong - we assumed matching unique values in the subsetted dataset and arrests dataset - we noticed the spelling errors and then ultimately after fixing, the merging was completed correctly 1:1.

## Merge Diagnostics

### Exercise 9

Checking whether you are doing a 1-to-1, many-to-1, 1-to-many, or many-to-many merge is only the first type of diagnostic test you should run on *every* merge you conduct. The second test is to see if you data merged successfully!

To help with this, the `merge` function in pandas offers a keyword option called `indicator`. If you set `indicator` to `True`, then pandas will add a column to the result of your merge called `_merge`. This variable will tell you, for each observation in your merged data, whether: 

- that observation came from a successful merge of both datasets, 
- if that observation was in the left dataset (the first one you passed) but not the right dataset (the second one you passed), or 
- if that observation was in the right dataset but not the left. 

This allows you to quickly identify failed merges!

For example, suppose you had the following data:

In [85]:
import pandas as pd
import numpy as np

pd.set_option("mode.copy_on_write", True)

df1 = pd.DataFrame({"key": ["key1", "key2"], "df1_var": [1, 2]})
df1

    key  df1_var
0  key1        1
1  key2        2

In [86]:
df2 = pd.DataFrame({"key": ["key1", "Key2"], "df2_var": ["a", "b"]})
df2

    key df2_var
0  key1       a
1  Key2       b

Now suppose you *expected* that all observations should merge when you merge these datasets (because you hadn't noticed the typo in `df2` where `key2` has a capital `Key2`. If you just run a merge, it works without any problems:

In [87]:
new_data = pd.merge(df1, df2, on="key", how="outer")

And so you might carry on in life unaware your data is now corrupted: instead of two merged rows, you now have 3, only 1 of which merged correctly!

In [88]:
new_data

    key  df1_var df2_var
0  Key2      NaN       b
1  key1      1.0       a
2  key2      2.0     NaN

When what you really wanted was:

In [89]:
df2_correct = df2.copy()
df2_correct.loc[df2.key == "Key2", "key"] = "key2"
pd.merge(df1, df2_correct, on="key", how="outer")

    key  df1_var df2_var
0  key1        1       a
1  key2        2       b

(in a small dataset, you'd quickly see you have 1 row instead of 2, but if you have millions of rows, a couple missing won't be evident). 

But now suppose we use the `indicator` function:

In [90]:
new_data = pd.merge(df1, df2, on="key", how="outer", indicator=True)
new_data._merge.value_counts()

_merge
left_only     1
right_only    1
both          1
Name: count, dtype: int64

We could immediately see that only one observation merged correct, and that one row from each dataset failed to merge!

Moreover, we can look at the failed merges:

In [91]:
new_data[new_data._merge != "both"]

    key  df1_var df2_var      _merge
0  Key2      NaN       b  right_only
2  key2      2.0     NaN   left_only

Allowing us to easily diagnose the problem. 

**Note:** The `pandas` merge function allows users to decide whether to keep only observations that merge (`how='inner'`), all the observations from the first dataset pasted to merge (`how='left'`), all the observations from the second dataset passed to merge (`how='right'`), or all observations (`how='outer'`):

![join_types](https://nickeubank.github.io/practicaldatascience_book/_images/3.4.15_merge_types.png)

But one danger to using the more restrictive options (like the default, `how='inner'`) is that the merge throws away all the observations that fail to merge, and while this may be the *eventual* goal of your analysis, it means that you don't get to see all the observations that failed to merge that maybe you thought *would* merge. In other words, it throws away the errors so you can't look at them!  

So to use `indicator` effectively, you have to:

- Not use `how="inner"`, and
- Check the values of `_merge` after your merge.

In [92]:
merged._merge.value_counts()

_merge
both          58
left_only      0
right_only     0
Name: count, dtype: int64

In [93]:
merged[merged._merge != "both"]

Empty DataFrame
Columns: [Unnamed: 0_x, YEAR, STATE, COUNTY, total_population, Unnamed: 0_y, VIOLENT, PROPERTY, F_DRUGOFF, F_SEXOFF, F_ALLOTHER, F_TOTAL, M_TOTAL, S_TOTAL, _merge]
Index: []

We expected this because we are super smart

### Exercise 10

Now repeat your previous merge using *both* the `validate` keyword *and* the `indicator` keyword with `how='outer'`. 

How many observations successfully merged (were in both datasets)? Store the result in `results` under the key `"ex10_merged_successfully"`.

### Answer

- We used both validate and indicator from the first draft - no further steps can be taken here.

In [99]:
success = len(merged[merged._merge == "both"])

results["ex10_merged_successfully"] = success

print(success)

58

### Exercise 11

You *should* be able to get to the point that all counties in our arrest data merge with population data. If that did not happen, can you figure out why that did not happen? Can you fix the data so that all arrest data merges with population data?

### Answer

- We --were-- able to get there

## Comparing Arrest Rates

### Exercise 12

Now that we have arrest counts and population data, we can calculate arrest *rates*. For each county, create a new variable called `violent_arrest_rate_2009` that is the number of violent arrests for 2009 divided by the population of the county from 2005-2009, and a similar new variable called `drug_arrest_rate_2009` for drug arrests divided by population.

### Exercise 13

Make a scatter plot that shows the relationship between each county's violent arrest rate and it's drug arrest rate. Since we haven't done a lot with plotting yet, feel free to plot in whatever manner feels most comfortable. The easiest, if you're unsure, is just to use the `pandas` inbuilt `.plot()` method. Just specify the `x` keyword with your x-axis variable, the `y` keyword with your y-axis variable, and use `kind="scatter"`.

### Exercise 14

Based on this simple comparison of 2009 violent arrest rates and drug arrest rates, what might you conclude about the relationship between the illegal drug trade and violent crime?

## Comparing with 2018 Arrests

The preceding analysis can tell us about whether violent crime and the drug trade are correlated, but it doesn't tell us much about whether they are *causally* related. It *could* be the case that people dealing drugs *cause* more violent crime, but it could also be that certain communities, for some other reason, tend to have *both* more drug sales *and* more violent crime. 

To help answer this question, let's examine whether violent crime arrest rates changed in response to drug legalization. In particular, let's do this by comparing violent crime arrest rates in 2009 (before drug legalization) to violent crime arrest rates in 2018 (after drug legalization). If the illegal drug trade causes violent crime, then we would expect the violent crime rate to fall in response to drug legalization.

### Exercise 15

Just as we created violent arrest rates and drug arrest rates for 2009, now we want to do it for 2018. Using the data on 2018 arrests (also in the [same repository](https://github.com/nickeubank/practicaldatascience/tree/master/Example_Data/ca) we used before) and the same dataset of population data (you'll have to use population from 2013-2017, as 2018 population data has yet to be released), create a dataset of arrest rates. 

As before, *be careful with your merges!!!*

### Exercise 16

Now merge our two county-level datasets so you have one row for every county, and variables for violent arrest rates in 2018, violent arrest rates in 2009, felony drug arrest rates in 2018, and felony drug arrest rates in 2009. Store the number of observations in your final data set in your `results` dictionary under the key `"ex16_num_obs"`.

### Exercise 17

Did drug arrests go down from 2009 to 2018 in response to drug legalization? (they sure better! This is what's called a "sanity check" of your data and analysis. If you find drug arrests went *up*, you know something went wrong with your code or your understanding of the situations). 

Store the average county-level change in drug arrests per capita in `results` under the key `"ex17_drug_change"`.

### Exercise 18

Now we want to look at whether violent crime decreased following drug legalization. Did the average violent arrest rate decrease? By how much? (Note: We're assuming that arrest rates are proportionate to crime rates. If policing increased so that there were more arrests per crime committed, that would impact our interpretation of these results. But this is just an exercise, so...)

Store the average county-level change in violent arrests per capita in `results` under the key `"ex18_violent_change"`

### Exercise 19

Based on your answers to exercises 17 and 18, what might you conclude about the relationship between the illegal drug trade and violent crime? Did legalizing drugs increase violent crime (assuming arrest rates are a good proxy for crime rates)? Decrease violent crime? Have no effect?

## Difference in Difference Analysis

The preceding analysis is something we sometimes call a "pre-post" analysis, in that it is a comparison of how and outcome we care about (violent arrest rates) changes from before a treatment is introduced ("pre") to after ("post"). BUT: pre-post comparisons are imperfect. If we knew that violent crime was not going to change at all in a world without drug legalization, then this comparison is perfectly valid. But what if, absent drug legalization, violent crime would have fallen on its own (maybe because of advances in policing practices or a better economy)? Or maybe it would have increased?

This is actually a very common problem. For example, imagine you're trying to figure out whether taking tylenol helps with headaches. You have a patient with a headache, you give them tylenol, and then the next day you ask them if they still have a headache, and find out that they don't — does that mean that tylenol cured the headache? Maybe... but most headaches eventually resolve on their own, so maybe the headache would have passed with or without the patient taking tylenol! In fact, there's a term for this phenomenon in medicine — the "natural history" of a disease, which is the trajectory that we think a disease might follow absent treatment. And the natural history of the disease is almost never for it to stay exactly the same indefinitely.

(All of this is closely related to the discipline of causal inference, and if it makes your head to hurt, don't worry — that means you're doing it right! We will talk lots and lots more about it in the weeks and months to come.)

One way to try to overcome this problem is with something called a difference-in-difference analysis. Rather than just looking at whether violent drug arrest rates increase or decrease between 2009 and 2018, we can split our sample of counties into those that were *more* impacted by drug legalization and those that were *less* impacted by drug legalization and evaluate whether we see a greater change in the violent drug arrest rate in the counties that were more impacted. 

What does it mean to have been "more impacted" by drug legalization? In this case, we can treat the counties that had higher drug arrest rates in 2009 as counties that were more impacted by drug legalization than those that had low drug arrest rates in 2009. After all, in a county that had no drug arrests, legalization wouldn't do anything, would it?


### Exercise 20

First, split our sample into two groups: high drug arrests in 2009, and low drug arrests in 2009 (cut the sample at the average drug arrest rate in 2009).


### Exercise 21

Now, determine weather violent crime changed *more* from 2009 to 2018 in the counties that had lots of drug arrests in 2009 (where legalization likely had more of an effect) than in counties with fewer drug arrests in 2009 (where legalization likely mattered less)? 

Calculate this difference-in-difference:

```
(the change in violent crime rate per capita for counties with lots of drug arrests in 2009) 
- (the change in violent crime rate per capita for counties with few drug arrests in 2009)

```

Store your "difference-in-difference" estimate in your `results` dictionary under the key `"ex21_diffindiff"`.

### Exercise 22

Interpret your difference in difference result.

### Exercise 23

The quantity we estimated above is a little difficult to interpret. Rather than calculating the *absolute* change in violent arrest rates per capita, let's calculate the *proportionate* change.

Calculate:

```
(the county-level percentage change in violent crime rate with lots of drug arrests in 2009) 
- (the county-level percentage change in violent crime rate with few drug arrests in 2009)
```
Store your "difference-in-difference" estimate in your `results` dictionary under the key `"ex24_diffindiff_proportionate"`. Report your result in percentages, such that a value of `-100` would imply that the average county experienced a 100% decrease in the violent arrest rate.